DJANGO_SECRET_KEY=troque-por-um-segredo-longo-e-aleatorio
KEY_ENCRYPTION_SECRET=troque-por-outro-segredo-longo-e-aleatorio
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=auth.exemplo.com
CSRF_TRUSTED_ORIGINS=https://auth.exemplo.com
OIDC_ISSUER=https://auth.exemplo.com
DJANGO_SECURE_SSL_REDIRECT=1
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
SECURE_HSTS_SECONDS=31536000
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.exemplo.com
EMAIL_PORT=587
EMAIL_HOST_USER=no-reply@exemplo.com
EMAIL_HOST_PASSWORD=troque-pela-senha-smtp
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL="GateLite <no-reply@exemplo.com>"
EMAIL_CONFIRMATION_TIMEOUT=86400
EMAIL_CONFIRMATION_RESEND_SECONDS=60
PASSWORD_RESET_TIMEOUT=3600
